.hide {
    display: none;
}

body {
    padding: 0;
    margin: 0;
    display: flex;
    background-color: lightgrey;
    font-family:Arial, Helvetica, sans-serif;
}

.title-bar {
    width: 100%;
}

#timer {
    float: right;
    margin: 10px;
    font-size: 35px;
}

#view-scores {
    float: left;
    margin: 10px;
    color: purple;
    font-size: 35px;
}


.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 900px;
    height: 600px;
    text-align: center;
}

.welcome-message {
    text-align: center;
}

.my-options-btn {
    background-color: purple;
    font-size: 26px;
    color: white;
    border-radius: 5%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 15px;
    padding: 5px;
    margin-left: 45%;
    
}

#question {
    font-size: 30px;
}

#start {
    background-color: purple;
    font-size: 35px;
    color: white;
    border-radius: 5%;
}

#welcome- {

    font-size: 45px;
}

p {
    font-size: 30px;
}

#userScore {

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

#userScoreSubmit {
    background-color: purple;
    font-size: 25px;
    color: white;
    border-radius: 5%;


    
}

#userScoreName {
    height: 50px;
    width: 300px;
    border-style: solid;
    border-width: 2px;
    font-size: 22px;
    margin: 8px;
 
}

